/* Variables */
:root {
    --azul-primario: #176196;
    --azul-secundario: #84ABCD;
    --azul-terciario: #A4C6E1;
    --azul-claro: #DDEDF8;
    --celeste: #5BBCFB;

    /* Necesitamos una buena fuente */
}

/* Variables locales */
a {
    text-decoration: none;
}

/* Barra de navegación */
.navegacion {
    padding: 0.5rem 3rem;
    display: flex;
    align-items: center;
    height: 7rem;
    border: 1px solid #000;
}

.navegacion__logo {
    width: 5rem;
}

.navegacion__logo img {
    max-width: 100%;
}

.navegacion__nombre-banca span {
    color: var(--azul-primario);
}

